#home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;

  .content {
    text-align: center;

    .title {
      margin: 0;
    }

    .subtitle {
      margin: 0;
    }

    .message {
      margin: 0;
      white-space: pre;
    }

    .button {
      text-decoration: none;
    }
  }
}
