body {
  font-family: 'Montserrat', 'Playfair Display', Georgia, 'Times New Roman', serif;
  margin: 0;
}
body > * {
  padding: 0 5rem;
}
@media screen and (width < 768px) {
  body > * {
    padding: 0 1rem;
  }
}
.bordered-button {
  border-radius: 30px;
}
a.button {
  text-decoration: none;
}
.divider {
  box-sizing: border-box;
  width: 100%;
  height: 0;
}
#home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
#home .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
#home .content .image {
  width: 14cm;
}
#home .content .message-content {
  max-width: 60rem;
}
#home .content .message {
  font-size: 1.4rem;
  margin: 0;
  text-align: center;
}
@media screen and (width < 1024px) {
  #home .content .message {
    font-size: 1.2rem;
    text-align: center;
  }
  #home .content .message-content {
    width: 100%;
  }
  #home .content .image {
    width: 90%;
  }
}
#about {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}
#about .content {
  flex: 1;
}
#about .content .description {
  white-space: pre-wrap;
}
#team {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
#team .header {
  display: flex;
  justify-content: center;
}
#team .professional {
  box-sizing: border-box;
}
@media screen and (min-width: 768px) {
  #team .professional .name {
    min-width: 25rem;
  }
}
@media screen and (min-width: 1024px) {
  #team .professional {
    padding: 3rem 3.33rem 0 3.33rem;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }
  #team .professional:first-child {
    padding: 0 6.66rem 0 0;
  }
  #team .professional:last-child {
    padding: 3rem 0 0 6.66rem;
  }
}
@media screen and (width < 1024px) {
  #team .professional {
    padding: 3rem 3rem;
  }
}
@media screen and (width < 768px) {
  #team .professional {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}
#footer {
  display: flex;
  justify-content: space-between;
}
#footer .imagem {
  margin-top: 80px;
  width: 6cm;
}
@media screen and (width < 768px) {
  #footer {
    flex-direction: column-reverse;
    justify-content: flex-start;
  }
  #footer .title {
    margin-top: 2rem;
  }
  #footer .imagem {
    margin-top: 2rem;
    width: 5cm;
  }
}
#footer h2 {
  margin: 0;
}
@media screen and (width < 768px) {
  #footer .left {
    text-align: center;
  }
}
@media screen and (width < 768px) {
  #footer .right {
    text-align: center;
  }
}
@media screen and (min-width: 768px) {
  #footer .right .title {
    margin-top: 80px;
  }
}
#footer .right .description {
  white-space: pre-wrap;
}
#footer .link-icon {
  text-decoration: none;
}
