<div id="about">
  <div class="header">
    <h2 class="title" style="<%= styles.titulo ?? '' %>">
      <%= titulo %>
    </h2>
  </div>
  <div class="content">
    <p class="description" style="<%= styles.descricao ?? '' %>"><%= descricao %></p>
  </div>
</div>
